#pane {
    -fx-background-color: #fcfcfc;
}


#CK, #CS {
    -fx-background-color: white;
    -fx-pref-height: 150;
    -fx-pref-width: 400;
    -fx-background-radius: 1em;
}

#CK:hover, #CS:hover {
    -fx-effect: dropshadow(two-pass-box, #e3e3e3, 40, 0, 0, 0);
}

#CK {
    -fx-translate-x: 60px;
    -fx-translate-y: 90px;
}

#CS {
    -fx-translate-x: 60px;
    -fx-translate-y: 260px;
}

#titleM, #csL, #ckL{
    -fx-translate-x: 10px;
    -fx-translate-y: 10px;
    -fx-text-fill: #01002d;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

#fl, #sl{
    -fx-text-fill: #6b6b6b;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: normal;
    -fx-font-size: 13;
}

#csB, #ckB, #selectBtn {
    -fx-background-color: #d6d6d6;

    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: normal;
    -fx-font-size: 13;
    -fx-pref-width: 130;
    -fx-background-radius: 1em;
}

#csB {
    -fx-translate-x: 240;
    -fx-translate-y: 110;
}

#ckB {
    -fx-translate-x: 30;
    -fx-translate-y: 110;
}

#csB:hover, #ckB:hover, #selectBtn:hover {
    -fx-background-color: #2dc1e5;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #ececec;
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #f3f3f3;
    -fx-text-fill: white;
}
.list-view, .split-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: dropshadow(two-pass-box, #e3e3e3, 40, 0, 0, 0);
}

#name{
    -fx-translate-x: 20;
    -fx-translate-y: 30;
    -fx-fill: #01002d;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#price{
    -fx-translate-x: 20;
    -fx-translate-y: 30;
    -fx-fill: #6b6b6b;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: normal;
    -fx-font-size: 13;
}

#gname{
    -fx-translate-x: 20;
    -fx-translate-y: 10;
    -fx-fill: #01002d;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#gdescr{
    -fx-translate-x: 20;
    -fx-translate-y: 10;
    -fx-fill: #6b6b6b;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: normal;
    -fx-font-size: 10;
}